In [1]:
import pandas as pd
import numpy as np
# import vaex

# Reading the data from CSV file

In [2]:
df = pd.read_csv("resources/movies.csv")

In [3]:
df.isnull().sum()

index                     0
budget                    0
genres                    0
homepage                570
id                        0
keywords                 17
original_language         0
original_title            0
overview                  0
popularity                0
production_companies      0
production_countries      0
release_date              0
revenue                   0
runtime                   0
spoken_languages          0
status                    0
tagline                  44
title                     0
vote_average              0
vote_count                0
cast                      0
crew                      0
director                  7
dtype: int64

In [4]:
df.shape

(1139, 24)

In [5]:
df.head(100)

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,...,148,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes
3,3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,49026,dc comics crime fighter terrorist secret ident...,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,...,165,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,Christian Bale Michael Caine Gary Oldman Anne ...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Christopher Nolan
4,4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter,49529,based on novel mars medallion space travel pri...,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,...,132,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,Taylor Kitsch Lynn Collins Samantha Morton Wil...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,165000000,Adventure Drama Science Fiction,http://www.interstellarmovie.net/,157336,saving the world artificial intelligence fathe...,en,Interstellar,Interstellar chronicles the adventures of a gr...,724.247784,...,169,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Mankind was born on Earth. It was never meant ...,Interstellar,8.1,10867,Matthew McConaughey Jessica Chastain Anne Hath...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Christopher Nolan
96,96,160000000,Action Thriller Science Fiction Mystery Adventure,http://inceptionmovie.warnerbros.com/,27205,loss of lover dream kidnapping sleep subconsci...,en,Inception,"Cobb, a skilled thief who commits corporate es...",167.583710,...,148,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Your mind is the scene of the crime.,Inception,8.1,13752,Leonardo DiCaprio Joseph Gordon-Levitt Ellen P...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Christopher Nolan
97,97,15000000,Action Adventure Drama Horror Science Fiction,NaN,315011,monster godzilla giant monster destruction kaiju,ja,シン・ゴジラ,From the mind behind Evangelion comes a hit la...,9.476999,...,120,"[{""iso_639_1"": ""it"", ""name"": ""Italiano""}, {""is...",Released,A god incarnate. A city doomed.,Shin Godzilla,6.5,143,Hiroki Hasegawa Yutaka Takenouchi Satomi Ishih...,"[{'name': 'Shir\\u00f4 Sagisu', 'gender': 0, '...",Hideaki Anno
98,98,250000000,Adventure Fantasy Action,http://www.thehobbit.com/,49051,riddle elves dwarves orcs middle-earth (tolkien),en,The Hobbit: An Unexpected Journey,"Bilbo Baggins, a hobbit enjoying his quiet lif...",108.849621,...,169,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,From the smallest beginnings come the greatest...,The Hobbit: An Unexpected Journey,7.0,8297,Ian McKellen Martin Freeman Richard Armitage A...,"[{'name': 'Howard Shore', 'gender': 2, 'depart...",Peter Jackson
99,99,38000000,Action Crime Thriller,NaN,9799,street gang car race undercover auto-tuning lo...,en,The Fast and the Furious,Domenic Toretto is a Los Angeles street racer ...,6.909942,...,106,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Live life 1/4 mile at a time.,The Fast and the Furious,6.6,3428,Paul Walker Vin Diesel Michelle Rodriguez Jord...,"[{'name': 'Ronna Kress', 'gender': 1, 'departm...",Rob Cohen

# Cleaning Data

### Replacing Languaeg Codes with Proper Names

In [6]:
df.original_language.unique()

array(['en', 'ja', 'fr', 'zh', 'es', 'de', 'hi', 'ru'], dtype=object)

In [7]:
from langcodes import *

In [8]:
def get_lang(data):
    return Language.make(language=f'{data}').display_name()

In [9]:
df.original_language = df.original_language.map(lambda x: get_lang(x))

In [10]:
df

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,English,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,English,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,English,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,...,148,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes
3,3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,49026,dc comics crime fighter terrorist secret ident...,English,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,...,165,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,Christian Bale Michael Caine Gary Oldman Anne ...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Christopher Nolan
4,4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter,49529,based on novel mars medallion space travel pri...,English,John Carter,"John Carter is a war-weary, former military ca...",43.926995,...,132,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,Taylor Kitsch Lynn Collins Samantha Morton Wil...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1134,1134,48000000,Adventure Comedy Family Fantasy,NaN,9607,saving the world brother brother relationship ...,English,Super Mario Bros.,"Mario and Luigi, plumbers from Brooklyn, find ...",14.587367,...,104,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,This Ain't No Game.,Super Mario Bros.,4.0,232,Bob Hoskins John Leguizamo Dennis Hopper Saman...,"[{'name': 'Alan Silvestri', 'gender': 2, 'depa...",Annabel Jankel
1135,1135,42000000,Crime Drama Thriller,NaN,1830,cold war weapon arms dealer,English,Lord of War,"Yuri Orlov is a globetrotting arms dealer and,...",34.828241,...,122,"[{""iso_639_1"": ""ar"", ""name"": ""\u0627\u0644\u06...",Released,"Where there's a will, there's a weapon",Lord of War,7.0,1335,Nicolas Cage Bridget Moynahan Jared Leto Ethan...,"[{'name': 'Nicolas Cage', 'gender': 2, 'depart...",Andrew Niccol
1136,1136,31000000,Drama Adventure Action History,NaN,79,countryside loss of lover right and justice pa...,Chinese,英雄,One man defeated three assassins who sought to...,23.607392,...,99,"[{""iso_639_1"": ""zh"", ""name"": ""\u666e\u901a\u8b...",Released,One man's strength will unite an empire.,Hero,7.2,635,Jet Li Tony Leung Chiu-Wai Maggie Cheung Donni...,"[{'name': 'Zhang Yimou', 'gender': 2, 'departm...",Zhang Yimou
1137,1137,40000000,Action Comedy Crime,http://www.oneforthemoneyfilm.com/index2.html,54054,bounty hunter based on novel romance framed ba...,English,One for the Money,An unemployed lingerie buyer convinces her bai...,19.438503,...,91,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,She's looking for a few not-so-good men,One for the Money,5.3,388,Katherine Heigl Jason O'Mara Daniel Sunjata Jo...,"[{'name': 'Wendy Finerman', 'gender': 1, 'depa...",Julie Anne Robinson
1138,1138,44000000,Action Comedy,NaN,228967,cia coup d'etat north korea assassination atte...,English,The Interview,Dave Skylark and his producer Aaron Rapoport r...,74.168016,...,112,"[{""iso_639_1"": ""ko"", ""name"": ""\ud55c\uad6d\uc5...",Released,The Film Hackers Tried To Get Banned,The Interview,6.1,2304,James Franco Seth Rogen Lizzy Caplan Randall P...,"[{'name': 'Francine Maisler', 'gender': 1, 'de...",NaN

In [11]:
df.original_language.unique()

array(['English', 'Japanese', 'French', 'Chinese', 'Spanish', 'German',
       'Hindi', 'Russian'], dtype=object)

In [12]:
df['original_language'] = df['original_language'].replace(['Unknown language [cn]','Unknown language [xx]'],['Unknown','Unknown'])

In [13]:
df.original_language.unique()

array(['English', 'Japanese', 'French', 'Chinese', 'Spanish', 'German',
       'Hindi', 'Russian'], dtype=object)

In [14]:
df

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,English,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,English,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,English,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,...,148,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes
3,3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,49026,dc comics crime fighter terrorist secret ident...,English,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,...,165,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,Christian Bale Michael Caine Gary Oldman Anne ...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Christopher Nolan
4,4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter,49529,based on novel mars medallion space travel pri...,English,John Carter,"John Carter is a war-weary, former military ca...",43.926995,...,132,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,Taylor Kitsch Lynn Collins Samantha Morton Wil...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1134,1134,48000000,Adventure Comedy Family Fantasy,NaN,9607,saving the world brother brother relationship ...,English,Super Mario Bros.,"Mario and Luigi, plumbers from Brooklyn, find ...",14.587367,...,104,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,This Ain't No Game.,Super Mario Bros.,4.0,232,Bob Hoskins John Leguizamo Dennis Hopper Saman...,"[{'name': 'Alan Silvestri', 'gender': 2, 'depa...",Annabel Jankel
1135,1135,42000000,Crime Drama Thriller,NaN,1830,cold war weapon arms dealer,English,Lord of War,"Yuri Orlov is a globetrotting arms dealer and,...",34.828241,...,122,"[{""iso_639_1"": ""ar"", ""name"": ""\u0627\u0644\u06...",Released,"Where there's a will, there's a weapon",Lord of War,7.0,1335,Nicolas Cage Bridget Moynahan Jared Leto Ethan...,"[{'name': 'Nicolas Cage', 'gender': 2, 'depart...",Andrew Niccol
1136,1136,31000000,Drama Adventure Action History,NaN,79,countryside loss of lover right and justice pa...,Chinese,英雄,One man defeated three assassins who sought to...,23.607392,...,99,"[{""iso_639_1"": ""zh"", ""name"": ""\u666e\u901a\u8b...",Released,One man's strength will unite an empire.,Hero,7.2,635,Jet Li Tony Leung Chiu-Wai Maggie Cheung Donni...,"[{'name': 'Zhang Yimou', 'gender': 2, 'departm...",Zhang Yimou
1137,1137,40000000,Action Comedy Crime,http://www.oneforthemoneyfilm.com/index2.html,54054,bounty hunter based on novel romance framed ba...,English,One for the Money,An unemployed lingerie buyer convinces her bai...,19.438503,...,91,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,She's looking for a few not-so-good men,One for the Money,5.3,388,Katherine Heigl Jason O'Mara Daniel Sunjata Jo...,"[{'name': 'Wendy Finerman', 'gender': 1, 'depa...",Julie Anne Robinson
1138,1138,44000000,Action Comedy,NaN,228967,cia coup d'etat north korea assassination atte...,English,The Interview,Dave Skylark and his producer Aaron Rapoport r...,74.168016,...,112,"[{""iso_639_1"": ""ko"", ""name"": ""\ud55c\uad6d\uc5...",Released,The Film Hackers Tried To Get Banned,The Interview,6.1,2304,James Franco Seth Rogen Lizzy Caplan Randall P...,"[{'name': 'Francine Maisler', 'gender': 1, 'de...",NaN

In [15]:
df.describe()

,index,budget,id,popularity,revenue,runtime,vote_average,vote_count
count,1139.000000,1.139000e+03,1139.000000,1139.000000,1.139000e+03,1139.000000,1139.000000,1139.000000
mean,569.000000,8.438745e+07,41709.043898,42.837096,2.340926e+08,115.711150,6.207638,1612.542581
std,328.945284,4.899703e+07,70673.129647,52.113779,2.588354e+08,22.034523,0.807654,1901.655200
min,0.000000,0.000000e+00,12.000000,0.146783,0.000000e+00,0.000000,2.300000,1.000000
25%,284.500000,5.200000e+07,3832.000000,18.104296,6.721274e+07,100.000000,5.700000,388.500000
50%,569.000000,7.000000e+07,10201.000000,31.435539,1.554644e+08,114.000000,6.200000,915.000000
75%,853.500000,1.000000e+08,45093.000000,51.502639,3.036729e+08,128.000000,6.700000,2056.000000
max,1138.000000,3.800000e+08,417859.000000,875.581305,2.787965e+09,248.000000,8.300000,13752.000000

In [16]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///resources/data.db', echo=False)

In [17]:
df.to_sql('info', con=engine, if_exists='append')

### Machine Learning

In [18]:
# import pandas as pd
# import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [19]:
# df = pd.read_csv("resources/movies.csv")
# df

In [20]:


features = ['keywords', 'cast', 'genres', 'director']
for feature in features:
    df[feature] = df[feature].fillna('')

In [21]:
def combined_features(row):
    return row['keywords']+" "+row['cast']+" "+row['genres']+" "+row['director']
df["combined_features"] = df.apply(combined_features, axis =1)

In [31]:
cv = CountVectorizer()
count_matrix = cv.fit_transform(df["combined_features"])
print("Count Matrix:", count_matrix.toarray())

Count Matrix: [[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

In [33]:
cosine_sim = cosine_similarity(count_matrix)
cosine_sim

array([[1.        , 0.10540926, 0.12038585, ..., 0.0727393 , 0.03849002,
        0.08399211],
       [0.10540926, 1.        , 0.0761387 , ..., 0.10350983, 0.03651484,
        0.03984095],
       [0.12038585, 0.0761387 , 1.        , ..., 0.07881104, 0.2502173 ,
        0.04550158],
       ...,
       [0.0727393 , 0.10350983, 0.07881104, ..., 1.        , 0.03779645,
        0.0412393 ],
       [0.03849002, 0.03651484, 0.2502173 , ..., 0.03779645, 1.        ,
        0.08728716],
       [0.08399211, 0.03984095, 0.04550158, ..., 0.0412393 , 0.08728716,
        1.        ]])

In [35]:
movie_user_likes = "The Dark Knight Rises"
def get_index_from_title(title):
    value = df.index[df['title'] == title].tolist()
    return value[0]
movie_index = get_index_from_title(movie_user_likes)
movie_index

3

In [30]:
recommnedations =[]

def get_title_from_index(index):
     recommnedations.append(df[df.index == index])
for movie in sorted_similar_movies:
    get_title_from_index(movie[0])
print(recommnedations[1:15])

AttributeError: 'DataFrame' object has no attribute 'to_list'

In [25]:
similar_movies = list(enumerate(cosine_sim[movie_index]))
similar_movies
sorted_similar_movies = sorted(similar_movies, key=lambda x:x[1], reverse=True)
sorted_similar_movies

 (528, 0.12267912301642962),
 (544, 0.12267912301642962),
 (570, 0.12267912301642962),
 (589, 0.12267912301642962),
 (652, 0.12267912301642962),
 (746, 0.12267912301642962),
 (823, 0.12267912301642962),
 (876, 0.12267912301642962),
 (924, 0.12267912301642962),
 (929, 0.12267912301642962),
 (955, 0.12267912301642962),
 (1025, 0.12267912301642962),
 (1030, 0.12267912301642962),
 (1045, 0.12267912301642962),
 (1116, 0.12267912301642962),
 (1132, 0.12267912301642962),
 (9, 0.12009611535381537),
 (281, 0.12009611535381537),
 (312, 0.12009611535381537),
 (346, 0.12009611535381537),
 (356, 0.12009611535381537),
 (548, 0.12009611535381537),
 (596, 0.12009611535381537),
 (660, 0.12009611535381537),
 (684, 0.12009611535381537),
 (735, 0.12009611535381537),
 (809, 0.12009611535381537),
 (1018, 0.12009611535381537),
 (10, 0.11766968108291043),
 (104, 0.11766968108291043),
 (149, 0.11766968108291043),
 (247, 0.11766968108291043),
 (271, 0.11766968108291043),
 (275, 0.11766968108291043),
 (285, 0.11766968108291043),
 (301, 0.11766968108291043),
 (480, 0.11766968108291043),
 (622, 0.11766968108291043),
 (807, 0.11766968108291043),
 (911, 0.11766968108291043),
 (994, 0.11766968108291043),
 (39, 0.11538461538461539),
 (45, 0.11538461538461539),
 (156, 0.11538461538461539),
 (295, 0.11538461538461539),
 (575, 0.11538461538461539),
 (587, 0.11538461538461539),
 (667, 0.11538461538461539),
 (680, 0.11538461538461539),
 (1008, 0.11538461538461539),
 (1034, 0.11538461538461539),
 (1036, 0.11538461538461539),
 (1119, 0.11538461538461539),
 (342, 0.11322770341445959),
 (358, 0.11322770341445959),
 (491, 0.11322770341445959),
 (527, 0.11322770341445959),
 (681, 0.11322770341445959),
 (700, 0.11322770341445959),
 (123, 0.11118739749916517),
 (126, 0.11118739749916517),
 (402, 0.11118739749916517),
 (581, 0.11118739749916517),
 (621, 0.11118739749916517),
 (673, 0.11118739749916517),
 (150, 0.10925355610938446),
 (983, 0.10925355610938446),
 (125, 0.10741723110591492),
 (278, 0.10741723110591492),
 (456, 0.10741723110591492),
 (946, 0.10741723110591492),
 (1099, 0.10482848367219184),
 (718, 0.10400628679223047),
 (678, 0.10127393670836665),
 (881, 0.10127393670836665),
 (966, 0.10127393670836665),
 (116, 0.10090091909944687),
 (615, 0.0994490316197694),
 (344, 0.09805806756909202),
 (1097, 0.09805806756909202),
 (323, 0.09513029883089882),
 (218, 0.09245003270420488),
 (261, 0.09245003270420488),
 (476, 0.09245003270420488),
 (529, 0.09245003270420488),
 (715, 0.09245003270420488),
 (1064, 0.09245003270420488),
 (179, 0.0899842541331695),
 (264, 0.0899842541331695),
 (319, 0.0899842541331695),
 (355, 0.0899842541331695),
 (434, 0.0899842541331695),
 (457, 0.0899842541331695),
 (463, 0.0899842541331695),
 (540, 0.0899842541331695),
 (593, 0.0899842541331695),
 (603, 0.0899842541331695),
 (760, 0.0899842541331695),
 (858, 0.0899842541331695),
 (25, 0.08770580193070293),
 (216, 0.08770580193070293),
 (475, 0.08770580193070293),
 (523, 0.08770580193070293),
 (537, 0.08770580193070293),
 (632, 0.08770580193070293),
 (726, 0.08770580193070293),
 (763, 0.08770580193070293),
 (773, 0.08770580193070293),
 (852, 0.08770580193070293),
 (853, 0.08770580193070293),
 (912, 0.08770580193070293),
 (938, 0.08770580193070293),
 (991, 0.08770580193070293),
 (1066, 0.08770580193070293),
 (1081, 0.08770580193070293),
 (35, 0.08559209850218259),
 (137, 0.08559209850218259),
 (167, 0.08559209850218259),
 (188, 0.08559209850218259),
 (209, 0.08559209850218259),
 (227, 0.08559209850218259),
 (259, 0.08559209850218259),
 (274, 0.08559209850218259),
 (374, 0.08559209850218259),
 (382, 0.08559209850218259),
 (462, 0.08559209850218259),
 (478, 0.08559209850218259),
 (517, 0.08559209850218259),
 (573, 0.08559209850218259),
 (594, 0.08559209850218259),
 (601, 0.08559209850218259),
 (602, 0.08559209850218259),
 (609, 0.08559209850218259),
 (655, 0.08559209850218259),
 (756, 0.08559209850218259),
 (771, 0.08559209850218259),
 (841, 0.08559209850218259),
 (845, 0.08559209850218259),
 (865, 0.08559209850218259),
 (872, 0.08559209850218259),
 (880, 0.08559209850218259),
 (908, 0.08559209850218259),
 (940, 0.08559209850218259),
 (1020, 0.08559209850218259),
 (1021, 0.08559209850218259),
 (628, 0.08492077756084469),
 (8, 0.08362420100070908),
 (28, 0.08362420100070908),
 (42, 0.08362420100070908),
 (52, 0.08362420100070908),
 (74, 0.08362420100070908),
 (90, 0.08362420100070908),
 (100, 0.08362420100070908),
 (101, 0.08362420100070908),
 (103, 0.08362420100070908),
 (165, 0.08362420100070908),
 (201, 0.08362420100070908),
 (242, 0.08362420100070908),
 (307, 0.08362420100070908),
 (343, 0.08362420100070908),
 (384, 0.08362420100070908),
 (422, 0.08362420100070908),
 (432, 0.08362420100070908),
 (454, 0.08362420100070908),
 (461, 0.08362420100070908),
 (477, 0.08362420100070908),
 (493, 0.08362420100070908),
 (521, 0.08362420100070908),
 (524, 0.08362420100070908),
 (547, 0.08362420100070908),
 (554, 0.08362420100070908),
 (564, 0.08362420100070908),
 (617, 0.08362420100070908),
 (626, 0.08362420100070908),
 (664, 0.08362420100070908),
 (732, 0.08362420100070908),
 (740, 0.08362420100070908),
 (779, 0.08362420100070908),
 (822, 0.08362420100070908),
 (833, 0.08362420100070908),
 (836, 0.08362420100070908),
 (864, 0.08362420100070908),
 (902, 0.08362420100070908),
 (932, 0.08362420100070908),
 (951, 0.08362420100070908),
 (985, 0.08362420100070908),
 (1092, 0.08362420100070908),
 (1110, 0.08362420100070908),
 (105, 0.08178608201095308),
 (111, 0.08178608201095308),
 (112, 0.08178608201095308),
 (122, 0.08178608201095308),
 (129, 0.08178608201095308),
 (202, 0.08178608201095308),
 (207, 0.08178608201095308),
 (228, 0.08178608201095308),
 (237, 0.08178608201095308),
 (240, 0.08178608201095308),
 (257, 0.08178608201095308),
 (378, 0.08178608201095308),
 (414, 0.08178608201095308),
 (439, 0.08178608201095308),
 (484, 0.08178608201095308),
 (539, 0.08178608201095308),
 (568, 0.08178608201095308),
 (585, 0.08178608201095308),
 (597, 0.08178608201095308),
 (598, 0.08178608201095308),
 (662, 0.08178608201095308),
 (676, 0.08178608201095308),
 (777, 0.08178608201095308),
 (801, 0.08178608201095308),
 (805, 0.08178608201095308),
 (874, 0.08178608201095308),
 (961, 0.08178608201095308),
 (987, 0.08178608201095308),
 (1004, 0.08178608201095308),
 (1095, 0.08178608201095308),
 (27, 0.08006407690254358),
 (36, 0.08006407690254358),
 (109, 0.08006407690254358),
 (191, 0.08006407690254358),
 (212, 0.08006407690254358),
 (238, 0.08006407690254358),
 (245, 0.08006407690254358),
 (270, 0.08006407690254358),
 (320, 0.08006407690254358),
 (332, 0.08006407690254358),
 (334, 0.08006407690254358),
 (369, 0.08006407690254358),
 (383, 0.08006407690254358),
 (389, 0.08006407690254358),
 (392, 0.08006407690254358),
 (412, 0.08006407690254358),
 (416, 0.08006407690254358),
 (490, 0.08006407690254358),
 (625, 0.08006407690254358),
 (650, 0.08006407690254358),
 (654, 0.08006407690254358),
 (685, 0.08006407690254358),
 (720, 0.08006407690254358),
 (794, 0.08006407690254358),
 (1022, 0.08006407690254358),
 (1027, 0.08006407690254358),
 (1094, 0.08006407690254358),
 (5, 0.07844645405527362),
 (31, 0.07844645405527362),
 (135, 0.07844645405527362),
 (183, 0.07844645405527362),
 (185, 0.07844645405527362),
 (267, 0.07844645405527362),
 (290, 0.07844645405527362),
 (371, 0.07844645405527362),
 (424, 0.07844645405527362),
 (472, 0.07844645405527362),
 (505, 0.07844645405527362),
 (920, 0.07844645405527362),
 (930, 0.07844645405527362),
 (976, 0.07844645405527362),
 (1101, 0.07844645405527362),
 (30, 0.07692307692307693),
 (97, 0.07692307692307693),
 (246, 0.07692307692307693),
 (300, 0.07692307692307693),
 (365, 0.07692307692307693),
 (366, 0.07692307692307693),
 (535, 0.07692307692307693),
 (607, 0.07692307692307693),
 (634, 0.07692307692307693),
 (693, 0.07692307692307693),
 (759, 0.07692307692307693),
 (768, 0.07692307692307693),
 (784, 0.07692307692307693),
 (851, 0.07692307692307693),
 (1019, 0.07692307692307693),
 (1023, 0.07692307692307693),
 (1102, 0.07692307692307693),
 (84, 0.07548513560963972),
 (93, 0.07548513560963972),
 (108, 0.07548513560963972),
 (182, 0.07548513560963972),
 (236, 0.07548513560963972),
 (291, 0.07548513560963972),
 (333, 0.07548513560963972),
 (643, 0.07548513560963972),
 (752, 0.07548513560963972),
 (922, 0.07548513560963972),
 (972, 0.07548513560963972),
 (1106, 0.07548513560963972),
 (32, 0.07412493166611012),
 (33, 0.07412493166611012),
 (203, 0.07412493166611012),
 (364, 0.07412493166611012),
 (411, 0.07412493166611012),
 (525, 0.07412493166611012),
 (545, 0.07412493166611012),
 (556, 0.07412493166611012),
 (576, 0.07412493166611012),
 (679, 0.07412493166611012),
 (1111, 0.07412493166611012),
 (1136, 0.07412493166611012),
 (40, 0.07283570407292297),
 (46, 0.07283570407292297),
 (73, 0.07283570407292297),
 (536, 0.07283570407292297),
 (18, 0.07161148740394328),
 (217, 0.07161148740394328),
 (859, 0.07161148740394328),
 (239, 0.0704469953676347),
 (452, 0.0704469953676347),
 (24, 0.06933752452815364),
 (658, 0.06933752452815364),
 (754, 0.06726727939963124),
 (337, 0.06629935441317959),
 (586, 0.062017367294604234),
 (71, 0.050636968354183326),
 (357, 0.050636968354183326),
 (1072, 0.050636968354183326),
 (967, 0.04902903378454601),
 (1039, 0.04902903378454601),
 (1069, 0.04902903378454601),
 (162, 0.04756514941544941),
 (381, 0.04756514941544941),
 (518, 0.04756514941544941),
 (584, 0.04756514941544941),
 (981, 0.04756514941544941),
 (83, 0.04622501635210244),
 (189, 0.04622501635210244),
 (250, 0.04622501635210244),
 (674, 0.04622501635210244),
 (750, 0.04622501635210244),
 (786, 0.04622501635210244),
 (921, 0.04622501635210244),
 (943, 0.04622501635210244),
 (964, 0.04622501635210244),
 (315, 0.04499212706658475),
 (327, 0.04499212706658475),
 (466, 0.04499212706658475),
 (709, 0.04499212706658475),
 (733, 0.04499212706658475),
 (47, 0.043852900965351466),
 (48, 0.043852900965351466),
 (75, 0.043852900965351466),
 (91, 0.043852900965351466),
 (131, 0.043852900965351466),
 (192, 0.043852900965351466),
 (193, 0.043852900965351466),
 (214, 0.043852900965351466),
 (226, 0.043852900965351466),
 (287, 0.043852900965351466),
 (304, 0.043852900965351466),
 (340, 0.043852900965351466),
 (394, 0.043852900965351466),
 (438, 0.043852900965351466),
 (467, 0.043852900965351466),
 (560, 0.043852900965351466),
 (641, 0.043852900965351466),
 (651, 0.043852900965351466),
 (663, 0.043852900965351466),
 (666, 0.043852900965351466),
 (707, 0.043852900965351466),
 (729, 0.043852900965351466),
 (748, 0.043852900965351466),
 (757, 0.043852900965351466),
 (772, 0.043852900965351466),
 (776, 0.043852900965351466),
 (790, 0.043852900965351466),
 (869, 0.043852900965351466),
 (891, 0.043852900965351466),
 (1015, 0.043852900965351466),
 (1037, 0.043852900965351466),
 (1113, 0.043852900965351466),
 (44, 0.042796049251091296),
 (49, 0.042796049251091296),
 (56, 0.042796049251091296),
 (80, 0.042796049251091296),
 (107, 0.042796049251091296),
 (208, 0.042796049251091296),
 (233, 0.042796049251091296),
 (311, 0.042796049251091296),
 (361, 0.042796049251091296),
 (399, 0.042796049251091296),
 (431, 0.042796049251091296),
 (458, 0.042796049251091296),
 (474, 0.042796049251091296),
 (507, 0.042796049251091296),
 (526, 0.042796049251091296),
 (533, 0.042796049251091296),
 (612, 0.042796049251091296),
 (704, 0.042796049251091296),
 (706, 0.042796049251091296),
 (743, 0.042796049251091296),
 (764, 0.042796049251091296),
 (831, 0.042796049251091296),
 (860, 0.042796049251091296),
 (882, 0.042796049251091296),
 (888, 0.042796049251091296),
 (900, 0.042796049251091296),
 (928, 0.042796049251091296),
 (954, 0.042796049251091296),
 (1056, 0.042796049251091296),
 (1077, 0.042796049251091296),
 (1138, 0.042796049251091296),
 (17, 0.04181210050035454),
 (19, 0.04181210050035454),
 (53, 0.04181210050035454),
 (55, 0.04181210050035454),
 (62, 0.04181210050035454),
 (85, 0.04181210050035454),
 (98, 0.04181210050035454),
 (138, 0.04181210050035454),
 (158, 0.04181210050035454),
 (159, 0.04181210050035454),
 (177, 0.04181210050035454),
 (230, 0.04181210050035454),
 (262, 0.04181210050035454),
 (324, 0.04181210050035454),
 (373, 0.04181210050035454),
 (423, 0.04181210050035454),
 (516, 0.04181210050035454),
 (546, 0.04181210050035454),
 (552, 0.04181210050035454),
 (559, 0.04181210050035454),
 (592, 0.04181210050035454),
 (610, 0.04181210050035454),
 (636, 0.04181210050035454),
 (638, 0.04181210050035454),
 (640, 0.04181210050035454),
 (657, 0.04181210050035454),
 (687, 0.04181210050035454),
 (697, 0.04181210050035454),
 (698, 0.04181210050035454),
 (708, 0.04181210050035454),
 (723, 0.04181210050035454),
 (745, 0.04181210050035454),
 (765, 0.04181210050035454),
 (827, 0.04181210050035454),
 (839, 0.04181210050035454),
 (842, 0.04181210050035454),
 (871, 0.04181210050035454),
 (898, 0.04181210050035454),
 (915, 0.04181210050035454),
 (956, 0.04181210050035454),
 (995, 0.04181210050035454),
 (1012, 0.04181210050035454),
 (1057, 0.04181210050035454),
 (1059, 0.04181210050035454),
 (1070, 0.04181210050035454),
 (1088, 0.04181210050035454),
 (1091, 0.04181210050035454),
 (1098, 0.04181210050035454),
 (1104, 0.04181210050035454),
 (1125, 0.04181210050035454),
 (12, 0.04089304100547654),
 (78, 0.04089304100547654),
 (148, 0.04089304100547654),
 (197, 0.04089304100547654),
 (206, 0.04089304100547654),
 (220, 0.04089304100547654),
 (221, 0.04089304100547654),
 (229, 0.04089304100547654),
 (296, 0.04089304100547654),
 (362, 0.04089304100547654),
 (406, 0.04089304100547654),
 (440, 0.04089304100547654),
 (450, 0.04089304100547654),
 (470, 0.04089304100547654),
 (508, 0.04089304100547654),
 (569, 0.04089304100547654),
 (583, 0.04089304100547654),
 (633, 0.04089304100547654),
 (648, 0.04089304100547654),
 (671, 0.04089304100547654),
 (749, 0.04089304100547654),
 (775, 0.04089304100547654),
 (789, 0.04089304100547654),
 (815, 0.04089304100547654),
 (824, 0.04089304100547654),
 (862, 0.04089304100547654),
 (894, 0.04089304100547654),
 (901, 0.04089304100547654),
 (931, 0.04089304100547654),
 (937, 0.04089304100547654),
 (1006, 0.04089304100547654),
 (1026, 0.04089304100547654),
 (1079, 0.04089304100547654),
 (1090, 0.04089304100547654),
 (1120, 0.04089304100547654),
 (1129, 0.04089304100547654),
 (20, 0.04003203845127179),
 (21, 0.04003203845127179),
 (61, 0.04003203845127179),
 (69, 0.04003203845127179),
 (121, 0.04003203845127179),
 (151, 0.04003203845127179),
 (152, 0.04003203845127179),
 (172, 0.04003203845127179),
 (187, 0.04003203845127179),
 (200, 0.04003203845127179),
 (249, 0.04003203845127179),
 (326, 0.04003203845127179),
 (329, 0.04003203845127179),
 (330, 0.04003203845127179),
 (379, 0.04003203845127179),
 (485, 0.04003203845127179),
 (486, 0.04003203845127179),
 (495, 0.04003203845127179),
 (543, 0.04003203845127179),
 (557, 0.04003203845127179),
 (577, 0.04003203845127179),
 (604, 0.04003203845127179),
 (618, 0.04003203845127179),
 (656, 0.04003203845127179),
 (799, 0.04003203845127179),
 (812, 0.04003203845127179),
 (814, 0.04003203845127179),
 (838, 0.04003203845127179),
 (854, 0.04003203845127179),
 (861, 0.04003203845127179),
 (875, 0.04003203845127179),
 (909, 0.04003203845127179),
 (914, 0.04003203845127179),
 (933, 0.04003203845127179),
 (978, 0.04003203845127179),
 (989, 0.04003203845127179),
 (1054, 0.04003203845127179),
 (4, 0.03922322702763681),
 (13, 0.03922322702763681),
 (50, 0.03922322702763681),
 (68, 0.03922322702763681),
 (94, 0.03922322702763681),
 (110, 0.03922322702763681),
 (113, 0.03922322702763681),
 (114, 0.03922322702763681),
 (115, 0.03922322702763681),
 (168, 0.03922322702763681),
 (199, 0.03922322702763681),
 (232, 0.03922322702763681),
 (243, 0.03922322702763681),
 (260, 0.03922322702763681),
 (263, 0.03922322702763681),
 (266, 0.03922322702763681),
 (349, 0.03922322702763681),
 (363, 0.03922322702763681),
 (400, 0.03922322702763681),
 (419, 0.03922322702763681),
 (426, 0.03922322702763681),
 (469, 0.03922322702763681),
 (482, 0.03922322702763681),
 (483, 0.03922322702763681),
 (494, 0.03922322702763681),
 (506, 0.03922322702763681),
 (531, 0.03922322702763681),
 (582, 0.03922322702763681),
 (670, 0.03922322702763681),
 (691, 0.03922322702763681),
 (710, 0.03922322702763681),
 (712, 0.03922322702763681),
 (719, 0.03922322702763681),
 (728, 0.03922322702763681),
 (738, 0.03922322702763681),
 (785, 0.03922322702763681),
 (868, 0.03922322702763681),
 (925, 0.03922322702763681),
 (1050, 0.03922322702763681),
 (1063, 0.03922322702763681),
 (1080, 0.03922322702763681),
 (1085, 0.03922322702763681),
 (1093, 0.03922322702763681),
 (1117, 0.03922322702763681),
 (38, 0.038461538461538464),
 (64, 0.038461538461538464),
 (70, 0.038461538461538464),
 (77, 0.038461538461538464),
 (88, 0.038461538461538464),
 (102, 0.038461538461538464),
 (169, 0.038461538461538464),
 (223, 0.038461538461538464),
 (225, 0.038461538461538464),
 (404, 0.038461538461538464),
 (409, 0.038461538461538464),
 (410, 0.038461538461538464),
 (451, 0.038461538461538464),
 (471, 0.038461538461538464),
 (541, 0.038461538461538464),
 (579, 0.038461538461538464),
 (595, 0.038461538461538464),
 (624, 0.038461538461538464),
 (668, 0.038461538461538464),
 (923, 0.038461538461538464),
 (935, 0.038461538461538464),
 (1048, 0.038461538461538464),
 (1112, 0.038461538461538464),
 (1128, 0.038461538461538464),
 (0, 0.03774256780481986),
 (59, 0.03774256780481986),
 (145, 0.03774256780481986),
 (268, 0.03774256780481986),
 (269, 0.03774256780481986),
 (353, 0.03774256780481986),
 (511, 0.03774256780481986),
 (795, 0.03774256780481986),
 (889, 0.03774256780481986),
 (962, 0.03774256780481986),
 (971, 0.03774256780481986),
 (999, 0.03774256780481986),
 (26, 0.03706246583305506),
 (51, 0.03706246583305506),
 (79, 0.03706246583305506),
 (160, 0.03706246583305506),
 (241, 0.03706246583305506),
 (292, 0.03706246583305506),
 (380, 0.03706246583305506),
 (403, 0.03706246583305506),
 (502, 0.03706246583305506),
 (713, 0.03706246583305506),
 (744, 0.03706246583305506),
 (788, 0.03706246583305506),
 (1044, 0.03706246583305506),
 (1065, 0.03706246583305506),
 (1086, 0.03706246583305506),
 (253, 0.03641785203646149),
 (1007, 0.03641785203646149),
 (1028, 0.03641785203646149),
 (1029, 0.03641785203646149),
 (1061, 0.03641785203646149),
 (1, 0.03580574370197164),
 (7, 0.03580574370197164),
 (66, 0.03580574370197164),
 (305, 0.03580574370197164),
 (878, 0.03580574370197164),
 (977, 0.03580574370197164),
 (16, 0.03522349768381735),
 (407, 0.03522349768381735),
 (855, 0.03466876226407682),
 (174, 0.03413943709994595),
 (627, 0.03413943709994595),
 (787, 0.03413943709994595),
 (81, 0.03363363969981562),
 (642, 0.03363363969981562),
 (503, 0.033149677206589796),
 (561, 0.03268602252303067),
 (599, 0.03224129401095805),
 (448, 0.028915746598312014),
 (6, 0.0),
 (15, 0.0),
 (22, 0.0),
 (23, 0.0),
 (34, 0.0),
 (37, 0.0),
 (54, 0.0),
 (57, 0.0),
 (63, 0.0),
 (67, 0.0),
 (86, 0.0),
 (87, 0.0),
 (89, 0.0),
 (92, 0.0),
 (106, 0.0),
 (117, 0.0),
 (118, 0.0),
 (120, 0.0),
 (124, 0.0),
 (130, 0.0),
 (132, 0.0),
 (133, 0.0),
 (136, 0.0),
 (141, 0.0),
 (142, 0.0),
 (143, 0.0),
 (144, 0.0),
 (146, 0.0),
 (154, 0.0),
 (155, 0.0),
 (161, 0.0),
 (171, 0.0),
 (173, 0.0),
 (175, 0.0),
 (178, 0.0),
 (181, 0.0),
 (184, 0.0),
 (190, 0.0),
 (194, 0.0),
 (195, 0.0),
 (211, 0.0),
 (231, 0.0),
 (234, 0.0),
 (235, 0.0),
 (251, 0.0),
 (254, 0.0),
 (255, 0.0),
 (256, 0.0),
 (258, 0.0),
 (265, 0.0),
 (272, 0.0),
 (276, 0.0),
 (284, 0.0),
 (289, 0.0),
 (293, 0.0),
 (294, 0.0),
 (302, 0.0),
 (306, 0.0),
 (309, 0.0),
 (313, 0.0),
 (318, 0.0),
 (321, 0.0),
 (325, 0.0),
 (328, 0.0),
 (331, 0.0),
 (336, 0.0),
 (338, 0.0),
 (341, 0.0),
 (347, 0.0),
 (348, 0.0),
 (352, 0.0),
 (359, 0.0),
 (368, 0.0),
 (375, 0.0),
 (385, 0.0),
 (390, 0.0),
 (391, 0.0),
 (393, 0.0),
 (395, 0.0),
 (397, 0.0),
 (401, 0.0),
 (413, 0.0),
 (417, 0.0),
 (418, 0.0),
 (420, 0.0),
 (427, 0.0),
 (429, 0.0),
 (430, 0.0),
 (435, 0.0),
 (436, 0.0),
 (441, 0.0),
 (443, 0.0),
 (445, 0.0),
 (459, 0.0),
 (460, 0.0),
 (464, 0.0),
 (465, 0.0),
 ...]

In [28]:
from sqlalchemy import create_engine
searchbox = "Batman"
engine = create_engine('sqlite:///resources/data.db', echo=False)
connection = engine.connect()
# sql_data = engine.execute("""SELECT title FROM info WHERE title LIKE ?""", ('%'+searchbox+'%', ))
sql_data = engine.execute(f"SELECT title FROM info WHERE title LIKE '%{searchbox}%' order by title")
# print(data)
data = []
for items in sql_data:
    data.append(items)
print(data)

[('Batman & Robin',), ('Batman & Robin',), ('Batman Begins',), ('Batman Begins',), ('Batman Forever',), ('Batman Forever',), ('Batman Returns',), ('Batman Returns',), ('Batman v Superman: Dawn of Justice',), ('Batman v Superman: Dawn of Justice',)]